.main {
    padding: 3em;
    width: 100%;
}

.loaderWrap {
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    gap: 5em;
}
